.my-footer{
    color: white;
    height: 10vh;
  }
  .room-image{
      width: 50%;
  }
  .notie-container{
    box-shadow: none;
  }
  .search-form{
    max-width: 95%
  }
  .datepicker{
    z-index: 10000;
  }